<div class="pretty-form">
  <h1>Edit {{post.title}} Post</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="title">Restaurant Name</label>
        {{input value=post.title id="title"}}
      </div>
      <div class="form-group">
        <label for="date">Today's Date</label>
        {{input value=post.date id="date" type="datetime-local"}}
      </div>
      <div class="form-group">
        <label for="neighborhood">What Neighborhood is it in?</label>
        {{input value=post.neighborhood id="neighborhood"}}
      </div>
      <div class="form-group">
        <label for="address">What's the Address?</label>
        {{input value=post.address id="address"}}
      </div>
      <div class="form-group">
        <label for="price">Enter a Price ($ to $$$$$)</label>
        {{input value=post.price id="price"}}
      </div>
      <div class="form-group">
        <label for="rating">Rating out of 5 (* to *****)</label>
        {{input value=post.rating id="rating"}}
      </div>
      <div class="form-group">
        <label for="imgurl">Insert Picture URL</label>
        {{input value=post.imgurl id="imgurl" type="url"}}
      </div>
      <div class="form-group">
        <label for="text">Type your Epic Review Here</label>
        {{textarea rows="6" cols="60" value=post.text id="text"}}
      </div>
      <button {{action 'edit' post}}>Edit</button>
    </form>
  </div>
</div>
