<div class="post">
  <h3 class="fancy">{{post.title}} - {{post.neighborhood}}</h3>
  <h4 class="fancy">Price: {{post.price}} || Rating: {{post.rating}}</h4>
  <img src= {{post.imgurl}}>
  <h4 class="fancy">{{post.address}}</h4>
  <p class="body">
    {{post.text}}
  </p>
</div>
